@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
/*ONLY CAPITAL. PERFECT for titles, link pages, and index;*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;800&display=swap');


* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-size: 16px; 
}