footer {
    width: 100%; 
    height: 2rem; 
    padding: 2rem; 
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 1.5rem; 
    position: relative; 
    bottom: 0; 

}