
.main {
	display: flex;
	width: 70%;
	margin: auto auto 2rem auto;
	min-height: 80vh;
	align-items: center;
}
.main__pitch {
	flex: 1;
}
.main_pitch_text h1 {
	font-size: 3rem;
	font-weight: 500;
	font-family: 'Staatliches', cursive;
}

.main_pitch_text p {
	margin-top: 5px;
	font-size: 22px;
	color: black; 
	font-family: 'Staatliches', cursive;
}

.pointedWords {
	font-size: 3rem;
	font-weight: 500;
	color: crimson; 
}

.showcase {
	padding: 0px 0px 0px 100px;
}
.showcase-tour, .showcase-random {
	border: 3px solid crimson;
	background: transparent;
	color: crimson; 
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold; 
}
.showcase-random {
	margin: 30px 0px 0px 30px;
}

.showcase-tour:hover, .showcase-random:hover {
	border: none; 
	background: crimson; 
	color: white;
}	

.main_pitch-img {
	flex: 1;
	display: flex;
	justify-content: center;
	object-fit: cover; 
	height: 60vh;
}
.main_pitch-img img {
	height: 100%;
	filter: drop-shadow(0px 5px 3px black);
	animation: appear 1.5s ease;
}