/*overlay menu here */

.overlay-menu {
	display:block;
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	background:black; 
	overflow:auto;
	z-index:2;
	transition: fadeOut 1s ease-out;
}

#overlay-menu {
	transition: fadeOut 1s ease-out;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0; 
	}
}

.open {
	display:none;
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	background:black; 
	overflow:auto;
	z-index:2;
	transition: fadeIn 1s ease-out;
}



@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1; 
	}
}

.overlay-menu-wrap {
	color:#e9e9e9;
	text-align:center;
	max-width:90%;
	margin:0 auto;
}
.overlay-menu-wrap ul.overlay-menu-wrap-nav {
	padding:275px 0px 75px;
}

.overlay-menu-wrap-nav-main {
	font-family: 'Staatliches', cursive;
}

.overlay-menu-wrap ul.overlay-menu-wrap-nav li {
	display:inline-block;
	vertical-align:top;
	width:24%;
	position:relative;
}
.overlay-menu-wrap ul.overlay-menu-wrap-nav li a {
	font-size:1rem;
	color:crimson; 
	font-weight: bold; 
	display:block;
	padding:0.5rem 0;
	text-decoration:none;
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
	
	
}
.overlay-menu-wrap ul.overlay-menu-wrap-nav li a:hover {
	color:#f0f0f0;
}
.overlay-menu-wrap ul.overlay-menu-wrap-nav ul {
	padding:1.5rem 0;
}
.overlay-menu-wrap ul.overlay-menu-wrap-nav ul li {
	display:block;
	font-size:1rem; 
	width:100%;
	color:#e9e9e9;
}
.overlay-menu-wrap ul.overlay-menu-wrap-nav ul li a {
	color:#f0f0f0;
}
.overlay-menu-wrap ul.overlay-menu-wrap-nav ul li a:hover {
	color:crimson; 
}
.overlay-media {
	padding:1.5rem;
	display: flex;
	flex-direction: row; 
	justify-content: center;
}

.overlay-media-fb, .overlay-media-youtube, .overlay-media-instagram, .overlay-media-twitter, .overlay-media-mail {
	width:60px;
	height:40px;
	background:crimson;
	display:inline-block;
	margin:0 1.5rem; 
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}

.overlay-media-fb:hover, .overlay-media-youtube:hover, .overlay-media-instagram:hover, .overlay-media-twitter:hover, .overlay-media-mail:hover {
	background:white; 
}

@keyframes appear {
	0% {
		opacity: 0;
		/* transform: translateY(-80px); */
	}
	100% {
		opacity: 1;
		/* transform: translateY(0px); */
	}
}